#select-main
  height 30px
  width 100%
  font-size 21px
  position relative
  z-index 100
  &:focus
    outline none
  .active
    border 1px solid grey
    padding 0 5px
    height 30px
    width 100%
    position relative
    .icon
      position absolute
      transform rotate(180deg)
      top 5px
      right 5px
      width 20px
      height 20px
    .icon-active
      transform none
  .options
    background-color white
    position absolute
    width 100%
    padding 0 3px
    border 1px solid grey
    border-top none
    display block
  .hidden
    display none
