// @import '../../../../variables.css'
#gallery-timeline
  margin .2rem auto .2rem auto
  padding .7rem 0 1.2rem
  background-color white
  border-radius .5rem
  font-size 1.25rem
  width 95%
  .header
    display flex
    justify-content space-between
    padding 0 1.1rem 0 .9rem
    .labels
      display flex
      justify-content center
      align-items center
    .share-wrap
      width 2.8rem
      height 2.8rem
  .order-in
    display flex
    padding-left .8rem
    font-size .8rem
    color var(--sec-bgcolor)
    span
      padding-left 0.4rem
    .create-date
      margin-left 1rem 
  .photo-wrap
    display flex
    justify-content center
    align-items center
    margin .5rem 0 .9rem
    img
      object-fit cover
      width 100%
      height auto
  .note
    padding 0 .95rem
    .title
      font-weight bold
      font-size 0.8rem
      color var(--dark-color)
    .gallery-note
      display flex
      justify-content space-between
    .note-txt
      font-size 0.9rem
      p
        max-width 19rem
      .ellipsis
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
    .text-expand
      padding-bottom 0.3rem
      .rotate
        transform rotate(180deg)