#gallery-timeline
  margin 0 auto 10px auto
  background-color white
  border-radius 10px
  box-shadow 0 0 8px
  padding 5px 0px
  font-size 20px
  width 95%
  .header
    .labels
      display inline-block
      width 85%
      .order-in
        text-align start
        padding 3px 10px
        font-size 16px
      .photo
        padding 5px 15px
        .img-wrap
          display inline-block
          height 25px
          width 25px
          float left
          img
            object-fit cover
            height 25px
            width 25px
        .photo-label
          display inline-block
          padding 0 5px
    .share
      display inline-block
      height 45px
      width 15%
      img
        padding-top 7px
        object-fit cover
        height 45px
        width 45px
  .photo-wrap
    img
      object-fit cover
      width 100%
  .note
    padding 0 15px
