#home
  height 1000px
  background-image url('../media/client.png')
  background-repeat no-repeat
  .header
    height 80px
    background-color #ffcd00
    padding-top 13px
    text-align center
    position relative
    .fa-angle-left
      cursor pointer
      color white
      font-size 70px
      margin-top -10px
    h1
      display inline-block
      margin 0 auto
      font-size 50px
      padding-right 5px
      color white
    .icon-online
      display inline-block
      transform: translateY(2px);
      width 30px
      height 30px
      border-radius 50%
      background #09ce17
      border 2px solid white
  .buttons
    text-align: center;
    div
      cursor pointer
      height 80px
      background-color #ffb300
      padding-top 15px
    div:hover
      background-color #b8954c
    h1
      margin 0 auto
      font-size 50px
      color white
  .hero
    margin-top 80px
    position relative
    img
      width 100%
      z-index 1
      user-select none
      pointer-events none
    .fa-star
      position absolute
      z-index 100
      font-size 70px
      transform: translate(20px,20px);
      color #6d6d6d
    .fa-star-active
      color #fec20f
    .input-group
      position absolute
      bottom 0
      height 80px
      .input-group-addon
        background: rgba(0,0,0,0.4)
        border none
        cursor pointer
        visibility visible
        img
          width: 50px
      .input-group-addon-hidden
        visibility hidden
      .form-control
        background: rgba(0,0,0,0.4)
        height 80px
        color #00b6fb
        font-size 36px
        font-weight 500
        text-align right
        border none
        &:focus
          border none
          outline none
          box-shadow none
      .form-control-disabled
        pointer-events none
    .label
      position absolute
      bottom 80px
      right 35px
      width 40%
      height 80px
      background-color #ef3f25
      border-radius 30px 30px 0 0
      h1
        margin 0 auto
        font-size 50px
        color white
        padding 10px
