#appoinments
  margin 0 auto 10px auto
  background-color white
  border-radius 10px
  box-shadow 0 0 8px
  height 200px
  width 95%
  .order-in
    width 100%
    text-align start
    padding 3px 10px
