#groups
  border-bottom 1px solid silver
  background-color #fffbdf
  .groups-label
    width 100%
    margin 0
    padding 10px 25px 0 25px
    text-align end
    color #6b6b6b
  .group-wrap
    width 33.33%
    padding-top 10px
    padding-bottom 10px
    display inline-block
    a
      text-decoration none
    .img
      width 100px
      margin 0 auto
      img
        width 100%
    h1
      text-align center
      color #304f63
      line-height 20px
      height 40px
      overflow hidden
      text-overflow ellipsis
      margin 10px
    .amount
      color #00b6fb
      font-weight 600
      text-align center
      line-height 20px
      height 20px
      margin 0
