#single-punch
  background-color gainsboro
  position relative
  border-top 1px solid gray
  min-height 550px
  .triangle-down-wrap
    position absolute
    margin 0 auto
    left 50%
    margin-left -20px
    .triangle-down
    	width 0
    	height 0
    	border-left 20px solid transparent
    	border-right 20px solid transparent
    	border-top 20px solid gray
.punch-data
  box-shadow 1px 3px 6px #bcbcbc
  margin 30px auto 0 auto
  background-color white
  border-radius 15px
  padding 5px
  width 90%
  .delete-wrap
    position absolute
    width 50px
    padding 5px
    img
      width 50px
  .p-name
    text-align center
    padding-top 15px
    font-size 24px
    color deepskyblue
  .p-sum
    text-align center
    color deepskyblue
    padding-top 5px
    font-size 20px
  .date-to-wrap
    .cal-wrap
      width 18%
      padding 5px 10px
      display inline-block
      float left
      img
        width 40px
    .date-to
      width 82%
      display inline-block
      span
        color deepskyblue
  .use-wrap
    width 96%
    height 100px
    margin 10px auto
    border 2px solid grey
    border-radius 15px
    box-shadow 2px 3px 6px #bcbcbc
    .button
      background-color deepskyblue
      border-top-left-radius 13px
      border-bottom-left-radius 13px
      padding 10px
      width 40%
      height 100%
      display inline-block
      h1
        color white
        font-size 26px
        font-weight 600
        padding-top 22px
    .info
      display inline-block
      padding 30px
      width 60%
      height 100%
      h1
        font-size 26px
        font-weight 600
        text-align end
        span
          color deepskyblue
.punch-data-uses-list
  margin 10px auto
  width 80%
  .uses
    border-top 1px solid grey
    .check-wrap
      display inline-block
      padding 10px
      width 45px
      height 45px
      img
        width 25px
    .count
      display inline-block
      position relative
      top -5px
    .date
      display inline-block
      position relative
      top 10px
      float right
