#notes
  border-bottom 1px solid silver
  .label-wrap
    width 100%
    height 30px
    .add-label
      padding 0px 20px
      height 20px
      border-radius 10px
      background-color #e8ffff
      margin 5px 10px 0 10px
      text-align center
      font-size 14px
      color #6b6b6b
  .add-wrap
    height 60px
    cursor pointer
    img
      width 40px
      margin 10px 30px 0 30px
      display block
    h1
      margin 18px -10px
      color #6b6b6b
      display block
  .edit-note
    width 100%
    padding-top 10px
    .description
      width 100%
      height 45px
      padding 0 15px 0 10px
      .description-input
        display inline-block
        height 30px
        width 65%
        border 1px solid #6b6b6b
        font-size 22px
        text-align end
        color deepskyblue
        font-weight 500
        // transform translateY(-15px)
        &:focus
          outline none
      .description-label
        width 35%
        padding 0 10px
        color #6b6b6b
        display inline-block
        margin 0
    .reminder
      width 100%
      .button-wrap
        display inline-block
        button
          height 30px
          border-radius 15px
          border 1px solid #6b6b6b
          background-color white
          width 80px
          font-size 22px
          margin 0 15px 20px 10px
          &:focus
            outline none
      h1
        margin 7px 0 0 0
        color #6b6b6b
        display inline-block
      .img-wrap
        display inline-block
        width 30px
        margin 0 20px
  .hidden
    display none
