@import "../../../../color.styl"
#email
  padding 0 10px
  border-top 1px solid $mainBackground
  min-height 4em
  display flex
  .gmailwrap
    display flex
    min-height 4em
    justify-content space-between
    width 100%
  .label
    font-size 0.8em
    font-weight 600
    color $headerColor
    margin-bottom 2%
  .linkto
    display flex
  .data-wrap
    display flex
    margin auto 0
    // width 100%
    flex-direction column
    .label-wrap
      width 100%
      height 30px
      .email-label
        padding 0px 20px
        height 20px
        border-radius 10px
        background-color #e8ffff
        margin 5px 10px 0 10px
        text-align center
        font-size 14px
        color #6b6b6b
    .gmailcom
      font-size 16px
.add-email
  height 60px
  cursor pointer
  img
    width 40px
    margin 10px 30px 0 30px
    display block
  h1
    margin 18px -10px
    color #6b6b6b
    display block
.email-edit
  justify-content space-between
  align-items center
  display flex
  margin auto 0
  width 100%
  .edit
    width 100%
    display flex
    flex-direction column
    .edit-input
      font-size 16px
      border transparent
      margin-top 5px
      color deepskyblue
      &:focus
        outline none
    .edit-label
      width 25%
      padding 0 10px
      color #6b6b6b
      display inline-block
      margin 0
  .button
    button
      height 30px
      border-radius 15px
      border 1px solid #6b6b6b
      background-color white
      width 80px
      &:focus
        outline none
.hidden
  display none
