@import "../../../../color.styl"
#depts
  background-color $blockBackground
  border-radius 7px
  margin 7px 7px
  .debt-header
    height 4em
    display flex
    label
      margin auto 10px
      font-size 1.5em
      font-weight 700
  .debt-body
    .debt-list
      border-top 1px solid $mainBackground
      height 4em
      display flex
      justify-content space-between
      .left-side
        display flex
        margin auto 10px
        flex-direction column
        .debt-list-date
          color $headerColor
          font-size 0.8em
          font-weight 600
        .debt-list-name
          display flex
          font-size 1.3em
          flex-direction row
          .debt-list-desc
            margin-left 10px
      .right-side
        margin auto 10px
    .debt-active
      .edit
        margin 0 10px
        .description
          .description-input
            border none
            width 100%
            border-bottom 1px solid $mainBackground
            color $headerColor
        .count
          display flex
          margin 20px 0
          justify-content center
          .ink
            width 40px
            color white
            display flex
            font-size 2em
            border-radius 100%
            background-color $headerColor
            span
              margin auto
          .count-input
            width 30%
            border none
            font-size 2em
            margin 0 30px
            text-align center
        .actions
          display flex
          justify-content flex-end
          padding-bottom 10px
          button
            border none
            background-color $headerColor
            color white
            border-radius 100px
  .debt-footer
    width 100%
    height 4em
    display flex
    justify-content space-between
    border-top 1px solid $mainBackground
    label
      color $headerColor
      font-size 0.8em
      font-weight 800
      margin auto 10px

  .hidden
    display none
