#punch_cards_adding
  height 100%
  display flex
  flex-direction column
  background-repeat no-repeat
  background-position top
  .punch-header
    display flex
    position relative
    justify-content center
    align-items center
    width 100%
    height 3.75rem
    background-color var(--main-bgcolor)
    .prev-button
      position absolute
      left 0
      width 2.5rem
      height 2.5rem
      border none
      display flex
      align-items center
      justify-content center
      background-color transparent
      outline none
    .prev-button-rtl
      right 0
      transform scale(-1, -1)
    .header-wrap
      display flex
      align-items center
      line-height 1.22
      font-size 18px
      padding 0.5rem 0
      .title
        padding-inline-start 0.8rem
        color white
        h2
          margin 0
          font-size 18px
          text-align center
          font-weight 500
  .preview-img
    background-image linear-gradient(198deg, rgba(79, 45, 167, 0.3), #4f2da7)
    flex-grow 1
    display flex
  .preview-wrap
    display flex
    flex-direction column
    align-items center
    flex-grow 1
    background-image linear-gradient(to bottom, rgba(239, 239, 255, 0.04), #efefff)
  // .topnav_punch
  //   .header
  //     background-color darkslateblue
  //     height 50px
  //     position relative
  //     text-align center
  //     .arrow-wrap
  //       display inline-block
  //       padding-top 8px
  //       float left
  //       width 15%
  //       .arrow-back
  //         color white
  //         cursor pointer
  //         width 16px
  //     .before
  //       display inline-block
  //       height 100%
  //       vertical-align middle
  //     .client-name
  //       display inline-block
  //       vertical-align middle
  //       width 70%
  //       h1
  //         color white
  //         display inline-block
  //         margin 0 auto
  //         padding-left 5px
  //         padding-right 5px
  //     .edit-wrap
  //       float right
  //       width 15%
  //       display inline-block
  //       margin-top 5px
  .name-wrap
    height 9rem
    display flex
    align-items center
    justify-content center
    .service-name
      font-size 24px
      font-weight 500
      display flex
      align-items center
      // line-height 0.67
      color #ffffff
      .service-color
        display inline-block
        height 0.5rem
        width 0.5rem
        border-radius 50%
        margin-inline-end 0.6rem
  .service_edit
    .uses_wrap
      border-bottom 2px solid lightslategray
      .label
        width 35%
        display inline-block
        padding 20px 10px
    .price
      .discount_wrap
        .label
          width 35%
          display inline-block
          padding 16px 10px
        .input-wrap
          padding 5px 13px
          display inline-block
          width 65%
          .ink
            width 30px
            height 30px
            transform translateY(8px)
            span
              font-size 30px
              padding 0 6px
            .minus
              padding 0 10px
          .count-input
            height 30px
      .total_wrap
        .label
          width 35%
          display inline-block
          padding 20px 10px
      .total_num
        width 100%
        text-align end
        padding 0 10px
        color gray
    .expiration_wrap
      margin-top 10px
      border-top 1px solid darkgray
      border-bottom 1px solid darkgray
      height 50px
      padding 10px
      .subscription_period
        display inline-block
        padding 0 10px
        position relative
        top -5px
      .on
        background deepskyblue!important
        .switch-toggle
          background-color white!important
          border-color white!important
      .switch
        border-color dimgray
        .switch-toggle
          background-color dimgray
          border-color dimgray
      .valid_date
        margin-top 15px
        .date_wrap
          h1, input
            display inline-block
          h1
            padding 0 5px
          input
            width 50%
            color deepskyblue
        .is_valid
          color deepskyblue
          padding 5px
    .buttons
      position fixed
      display flex
      width 100%
      padding 0 0.5rem 0.5rem 
      // height 80px
      bottom 0px
      button
        border none
        width 50%
        display flex
        align-items center
        justify-content center
        height 3.75rem
        outline none
        font-size 14px
        font-weight 500
        text-transform uppercase
        img
          margin-inline-start 0.4rem  
        .cancel-img
          transform rotate(45deg)
      .btn-cancel
        background-color white
        color var(--dark-color)
      .btn-save
        background-color var(--active-color)
        color white
  .input-wrap
    display inline-block
    width 65%
    .ink
      display inline-block
      position relative
      width 40px
      height 40px
      border-radius 50%
      background-color deepskyblue
      margin 0 10px 0 10px
      transform translateY(14px)
      cursor pointer
      span
        position absolute
        color white
        font-size 34px
        padding 0 10px
        transform translateY(-5px)
      .minus
        padding 0 15px
        transform translateY(-7px)
    .count-input
      display inline-block
      height 40px
      width 40%
      border 1px solid #6b6b6b
      border-top 2px solid #6b6b6b
      border-left 2px solid #6b6b6b
      color deepskyblue
      font-weight 500
      text-align center
      &:focus
        outline none
