#punch_cards_adding
  .topnav_punch
    .header
      background-color darkslateblue
      height 50px
      position relative
      text-align center
      .arrow-wrap
        display inline-block
        padding-top 8px
        float left
        width 15%
        .arrow-back
          color white
          cursor pointer
          width 16px
      .before
        display inline-block
        height 100%
        vertical-align middle
      .client-name
        display inline-block
        vertical-align middle
        width 70%
        h1
          color white
          display inline-block
          margin 0 auto
          padding-left 5px
          padding-right 5px
      .edit-wrap
        float right
        width 15%
        display inline-block
        margin-top 5px
  .service_edit
    .uses
      border-bottom 2px solid lightslategray
      .number_of_uses
        width 35%
        display inline-block
        padding 20px 10px
    .price
      .discount_wrap
        .discount
          width 35%
          display inline-block
          padding 16px 10px
        .input-wrap
          padding 5px 13px
          display inline-block
          width 65%
          .ink
            width 30px
            height 30px
            transform translateY(8px)
            span
              font-size 30px
              padding 0 6px
            .minus
              padding 0 10px
          .count-input
            height 30px
      .total_wrap
        .total
          width 35%
          display inline-block
          padding 20px 10px
        .total_num
          width 100%
          text-align end
          padding 0 10px
    .expiration_wrap
      margin-top 10px
      border-top 1px solid darkgray
      border-bottom 1px solid darkgray
      height 50px
      padding 10px
      .subscription_period
        display inline-block
        padding 0 10px
        position relative
        top -5px
      .on
        background deepskyblue!important
      .switch
        border-color dimgray
        .switch-toggle
          background-color dimgray
          border-color dimgray
  .input-wrap
    display inline-block
    width 65%
    .ink
      display inline-block
      position relative
      width 40px
      height 40px
      border-radius 50%
      background-color deepskyblue
      margin 0 10px 0 10px
      transform translateY(14px)
      cursor pointer
      span
        position absolute
        color white
        font-size 34px
        padding 0 10px
        transform translateY(-6.5px)
      .minus
        padding 0 15px
        transform translateY(-9px)
    .count-input
      display inline-block
      height 40px
      width 40%
      border 1px solid #6b6b6b
      border-top 2px solid #6b6b6b
      border-left 2px solid #6b6b6b
      color deepskyblue
      font-weight 500
      text-align center
      &:focus
        outline none
