.signature-modal-dialog
  margin 40px!important
  width 80%!important
#signature-modal-header
  .modal-header
    background-color white!important
    height 60px
    border-top-left-radius 10px
    border-top-right-radius 10px
    img
      float right
      width 40px
      margin 10px 10px 10px 0
      transform rotate(45deg)
#signature-modal-body
  height 200px
  canvas
    border 1px solid
