.signature-modal-dialog
  margin 40px!important
  width 80%!important
#signature-modal-header
  .modal-header
    background-color silver!important
#signature-modal-body
  height 200px
  canvas
    width 320px
    height 200px
#signature-modal-footer
  .modal-footer
    height 60px
    background-color silver!important
    button
      display inline-block
      height 100%
      width 50%
      background-color white
      border 1px solid silver
      font-size 22px
      &:focus
        outline none
    button:nth-of-type(1)
      border-bottom-left-radius 10px
    button:nth-of-type(2)
      border-bottom-right-radius 10px
