.delete-body
  height 110px
  padding 10px 20px
  h1
    padding-bottom 10px
    text-align start
  button
    height 30px
    border-radius 15px
    border 1px solid #6b6b6b
    background-color white
    margin 0 48px
    width 200px
    &:focus
      outline none
