#notes-timeline
  padding 5px 10px
  .order-in
    display inline-block
    float left
    font-size 20px
  .icon-wrap
    display inline-block
    width 30px
    height 20px
    padding 0 5px
    overflow hidden
    img
      width 20px
      height 20px
  .text
    display inline-block
    text-overflow ellipsis
    line-height 23px
    overflow hidden
    height 23px
    width 70%
    padding-top 2px
