$blockBackground = #fff
$black = #000
$cornflowerBlue = #333
$mainBackground = #dedeff
//topnav
$headerColor = #4f2da7
//hot links item
$hotLinkBackground = #bfafe0

$slideBackGround = #fff

$delColor = #ff358c