@import "../../../../color.styl"
#phone
  .data
    width 100%
    display flex
    flex-direction row
    justify-content space-between
  .phone-labels
    .label-wrap
      .call-label
        background-color transparent
    .phone-wrap
      h1
        width 100%
        color $black
        font-weight 500
  .add-phone
    height 60px
    cursor pointer
    border-bottom 1px solid silver
    img
      width 40px
      margin 10px 30px 0 30px
      display block
    h1
      margin 18px -10px
      color #6b6b6b
      display block
  .phone-edit
    display flex
    flex-direction row
    justify-content space-between
    width 100%
    .edit
      width 70%
      .edit-input
        display inline-block
        border none
        height 30px
        width 80%
        font-weight 500
        color $headerColor
        &:focus
          outline none
      .edit-label
        width 25%
        padding 0 10px
        color #6b6b6b
        display inline-block
        margin 0
    button
        display inline-block
        border-radius 15px
        border none
        background-color $headerColor
        color white
        &:focus
          outline none
  .hidden
    display none
