#birthday-wrap
  background-color #ef3f25
  border-radius 20px 20px 0 0
  bottom 50px
  height 40px
  position absolute
  // right 35px
  left 35px
  width 40%
  h1
    color white
    margin 0 auto
    padding 10px
    text-align center
#birthday-wrap-disabled
  display none
