#appoinments
  margin 0 auto 10px auto
  background-color white
  border-radius 10px
  box-shadow 0 0 8px
  padding 5px 0px
  font-size 20px
  width 95%
  .order-in
    width 100%
    text-align start
    padding 3px 10px
    font-size 16px
  .date
    padding 5px 15px
    .date-img
      display inline-block
      overflow hidden
      height 25px
      width 25px
      float left
      img
        object-fit cover
        height 25px
        width 25px
    .date-label
      display inline-block
      padding 0 5px
    .date-data
      display inline-block
      color deepskyblue
  .worker
    padding 5px 15px
    .worker-img
      display inline-block
      border-radius 50%
      overflow hidden
      height 25px
      width 25px
      float left
      img
        object-fit cover
        height 25px
        width 25px
    .worker-label
      display inline-block
      padding 0 5px
    .worker-name
      display inline-block
      color deepskyblue
  .procedures-count
    padding 5px 15px
    .img
      display inline-block
      height 25px
      width 25px
      float left
      img
        object-fit cover
        height 25px
        width 25px
    .count
      display inline-block
      padding 0 5px
      span
        color deepskyblue
  .procedures-list
    padding 5px 15px
    .icon-wrap
      display inline-block
      height 25px
      width 25px
      float left
      .icon
        margin 8px auto 0px auto
        border-radius 50%
        height 10px
        width 10px
    .name
      width 50%
      text-overflow ellipsis
      display inline-block
      overflow hidden
    .duration
      width 20%
      display inline-block
      overflow hidden
    .price
      width 20%
      display inline-block
      overflow hidden
    .total
      border-top 1px solid deepskyblue
      color deepskyblue
      text-align end
      .total-duration
        display inline-block
        text-align start
        width 20%
      .total-price
        display inline-block
        text-align start
        width 20%
  .notes
    border-top 1px solid black
    .notes-label
      padding 5px 15px
      text-align start
      color grey
      width 100%
    .note
      text-overflow ellipsis
      text-align start
      padding 2px 15px
      overflow hidden
      width 100%
  .adress
    border-top 1px solid black
    height 120px
    .icon
      display inline-block
      width 32%
      padding 10px 20px
      float right
      img
        width 80px
        height 100px
    .data
      display inline-block
      width 65%
      .meet
        padding 5px 15px
        text-align start
        color grey
        width 100%
      .label
        padding 5px 15px
        text-align start
        width 100%
      .address
        text-overflow ellipsis
        text-align start
        padding 2px 15px
        overflow hidden
        width 100%
