#topnav
  .header
    background-color #ffcd00
    height 50px
    padding-top 8px
    position relative
    text-align center
    border-bottom 2px solid white
    .arrow-wrap
      width 15%
      display inline-block
      float left
      .arrow-back
        color white
        cursor pointer
        width 16px
    .client-name
      width 70%
      display inline-block
      margin-top 5px
      .icon-online
        background #09ce17
        border 2px solid white
        border-radius 50%
        display inline-block
        transform translateY(2px)
        height 18px
        width 18px
      h1
        color white
        display inline-block
        margin 0 auto
        padding-left 5px
        padding-right 5px
    .edit-wrap
      float right
      width 15%
      display inline-block
      margin-top 5px
      .edit
        background-color #ffcd00
        border none
        color white
        &:focus
          outline none
  .buttons
    text-align center
    div
      padding-left 0
      padding-right 0
    button
      background-color #b8954c
      border none
      height 50px
      width 100%
      color #dbc89d
      margin 0 auto
      cursor pointer
      &:focus
        outline none
    .customers-wrap
      display inline-block
      width 50%
      border-right 1px solid white
      button
        background-color #ffb300
        color white
    .appointments-wrap
      display inline-block
      width 50%
      border-left 1px solid white
