#home
  height 1000px
  .header
    height 50px
    background-color #ffcd00
    padding-top 13px
    text-align: center;
    position relative
    .icon-message
      position absolute
      height 10px
      width 10px
      background-color #169bd5
      transform: translate(28px, -12px);
      p
        font-size 7px
        color white
    .fa-angle-left
      cursor pointer
      color white
      font-size 40px
      margin-top -10px
    h1
      display inline-block
      margin 0 auto
      font-size 20px
      padding-right 5px
      color white
    .icon-online
      display inline-block
      transform: translateY(2px);
      width 16px
      height 16px
      border-radius 50%
      background #09ce17
      border 1px solid white
  .buttons
    text-align: center;
    div
      cursor pointer
      height 50px
      background-color #ffb300
      padding-top 15px
    div:hover
      background-color #b5954a
    h1
      margin 0 auto
      font-size 20px
      color white
  .hero
    height 210px
    //background-color red
    background-image: url('./client.png');
