@import '../../../../variables.styl'
#debts-timeline
  margin 0 auto 10px auto
  border-radius 8px
  height 56px
  box-shadow 0 0 8px
  display flex
  align-items center
  padding-left 13px
  // font-size 20px
  background-color #fff
  width 95%
  .debt-wrap
    padding-left 10px
    display flex
    flex-direction column
    justify-content center
    .order-in
      font-size 11px
      color $primaryPurpleColor
    .data
      font-size 16px
      display flex
      .desc
        padding-left 5px
        overflow hidden
        max-width 250px
        white-space nowrap
        text-overflow ellipsis
      .price
        font-weight 900
        white-space nowrap
    .normal
      .price
        color $primaryBlackColor
    .deleted
      color $deptDeleteColor
