.modal
  display block
  overflow scroll
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1050
  -webkit-overflow-scrolling touch
  outline 0
  &.fade
    .modal-dialog
      -webkit-transform translate(0, -25%)
      -ms-transform translate(0, -25%)
      -o-transform translate(0, -25%)
      transform translate(0, -25%)
      -webkit-transition -webkit-transform 0.3s ease-out
      -moz-transition -moz-transform 0.3s ease-out
      -o-transition -o-transform 0.3s ease-out
      transition transform 0.3s ease-out
  &.in
    opacity 1
    .modal-dialog
      -webkit-transform translate(0, 0)
      -ms-transform translate(0, 0)
      -o-transform translate(0, 0)
      transform translate(0, 0)
.modal-dialog
  position relative
  margin 10px
  width 98%
  height 100%
.modal-content
  position relative
  background-color #fff
  outline 0
  border-radius 20px
  #gallery-swiper-wrap
    iframe
      width 100%
      height 950px
    img
      width 100%
      height 950px
      object-fit cover
    video
      width 100%
      height 950px
    canvas
      width 100%!important
      height 880px!important
    h1
      display inline-block
      padding 15px
      cursor pointer
      height 70px
      &:nth-of-type(1)
        text-align left
        width 15%
      &:nth-of-type(2)
        text-align center
        width 70%
      &:nth-of-type(3)
        text-align right
        width 15%
.swiper-button-prev, .swiper-button-next
  position absolute
  top 45%
  width 120px
  height 120px
  border-radius 50%
  z-index 10
  cursor pointer
  background-color rgba(255, 255, 255, 0.5)
.swiper-button-prev
  left 10px
  right auto
  &:before
    position relative
    content '<'
    font-size 60px
    left 38px
    top 16px
.swiper-button-next
  right 10px
  left auto
  &:before
    position relative
    content '>'
    font-size 60px
    left 45px
    top 16px
.modal-header
  background-color black
  height 120px
  border-top-left-radius 20px
  border-top-right-radius 20px
  img
    float right
    width 80px
    margin 20px 20px 20px 0
    transform rotate(45deg)
.modal-footer
  background-color black
  text-align right
  border-bottom-left-radius 20px
  border-bottom-right-radius 20px
  .data
    width 80%
    padding-top 20px
    display inline-block
    h1
      float left
      text-align left
      width 100%
      color grey
      padding-left 20px
      margin 0px
      &:nth-of-type(2)
        color white
        height 80px
    .textarea
      top 5px
      position relative
      display block
      font-family inherit
      float left
      text-align left
      width 95%
      color black
      font-size 22px
      left 20px
      margin 0px
      height 90px
      resize none
    button
      float left
      height 60px
      border-radius 30px
      border 2px solid #6b6b6b
      background-color white
      width 120px
      font-size 32px
      margin-left 20px
      margin-top 15px
      &:focus
        outline none
  .icons
    width 20%
    display inline-block
    padding 15px
    img
      height 100%
      width 50%
      padding-right 10px
      &:nth-of-type(1)
        padding-right 20px
.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1040
  background-color #000
  &.in
    opacity 0.5
.fade
  opacity 0
  -webkit-transition opacity .15s linear
  -o-transition opacity .15s linear
  transition opacity .15s linear
.hidden
  display none
