#birthdate
  width 100%
  border-bottom 1px solid silver
  .birthdate-edit
    margin-bottom 10px
    margin-top 23px
    .input-wrap
      display inline-block
      width 65%
      padding 5px 40px
      input
        text-align end
        height 30px
        border none
        padding 0 10px
        color #00b6fb
        &:focus
          outline none
    .label-wrap
      display inline-block
      width 35%
      .label
        height 30px
        text-align end
        margin 0 28px
