@import "../../../../color.styl"
#birthdate
  width 100%
  .birthdate-edit
    .input-wrap
      input
        background transparent
        font-size 1em
        border none
        &:focus
          outline none
