#birthdate
  width 100%
  .add-birth
    display flex
    justify-content space-between
    width 100%
    .wrap-birth
      display flex
      flex-direction column
      justify-content space-between
      padding 1px 0 3px
    img
      width 38px
      height 38px
      display flex
      align-self center
    h1
      color #6b6b6b
  .label
    font-size 0.8em
    font-weight 600
    color var(--dark-color)
    margin-bottom 2%
  .wrapBDay
    display flex
    flex-direction column
    justify-content space-between
    margin 1% 0
  .birthdate-edit
    display flex
    width 100%
    justify-content space-between
    .edit-wrap
      display flex
      flex-direction column
      justify-content space-between
      margin 1% 0
  .input-wrap
    input
      background transparent
      font-size 1em
      border none
      &:focus
        outline none
  .hidden
    display none
  .button
    display flex
    align-items center
    button
      border-radius 15px
      border none
      background-color var(--dark-color)
      color #fff
      &:focus
        outline none
