#notes
  border-bottom 1px solid silver
  .label-wrap
    width 100%
    height 30px
    .add-label
      padding 0px 20px
      height 20px
      border-radius 10px
      background-color #e8ffff
      margin 5px 10px 0 10px
      text-align center
      font-size 14px
      color #6b6b6b
  .pd5
    padding-top 5px
  .pd17
    padding-top 17px
  .notes-list
    height 58px
    .notes-list-delete-wrap
      width 15%
      display inline-block
      padding 0 10px
      .notes-list-delete
        position relative
        transform rotate(45deg)
        width 30px
        top -10px
    .notes-list-data-wrap
      width 85%
      display inline-block
      .notes-list-reminder
        height 100%
        width 20%
        display inline-block
        img
          transform translateY(9px)
          width 25px
      .notes-list-desc
        margin 0
        display inline-block
        text-align end
        padding 0 30px
        color #6b6b6b
        font-weight 500
      .rem_false
        width 100%
      .rem_true
        width 80%
      .notes-list-date
        margin 0
        width 100%
        text-align end
        padding 0 30px
        font-size 12px
  .add-wrap
    height 60px
    cursor pointer
    img
      width 40px
      margin 10px 30px 0 30px
      display block
    h1
      margin 18px -10px
      color #6b6b6b
      display block
  .edit-note
    width 100%
    padding-top 10px
    .description
      width 100%
      height 45px
      padding 0 15px 0 10px
      .description-input
        display inline-block
        height 30px
        width 65%
        border 1px solid #6b6b6b
        text-align end
        color deepskyblue
        font-weight 500
        &:focus
          outline none
      .description-label
        width 35%
        padding 0 10px
        color #6b6b6b
        display inline-block
        margin 0
    .reminder
      width 100%
      position relative
      .button-wrap
        display inline-block
        position absolute
        width 25%
        bottom 0
        button
          height 30px
          border-radius 15px
          border 1px solid #6b6b6b
          background-color white
          width 80px
          margin 0 15px 20px 10px
          &:focus
            outline none
      .reminder-text
        width 75%
        height 50px
        h1
          display inline-block
          margin 7px 0 0 0
          color #6b6b6b
        .img-wrap
          display inline-block
          width 30px
          margin 0 20px
      .reminder-time
        display inline-block
        position relative
        height 100px
        width 75%
        z-index 20
        .input-wrap
          width 76%
          .ink
            display inline-block
            position relative
            width 30px
            height 30px
            border-radius 50%
            background-color deepskyblue
            margin 0 10px 0 10px
            transform translateY(8px)
            cursor pointer
            span
              position absolute
              color white
              font-size 30px
              padding 0 6px
              transform translateY(-6.5px)
            .minus
              padding 0 10px
              transform translateY(-9px)
          .count-input
            display inline-block
            height 30px
            width 40%
            border 1px solid #6b6b6b
            border-top 2px solid #6b6b6b
            border-left 2px solid #6b6b6b
            color deepskyblue
            font-weight 500
            text-align center
            &:focus
              outline none
        .select-wrap
          padding 0 50px 0 80px
  .h55
    height 55px
  .h150
    height 150px
