@import "../../../../color.styl"
#notes
  background-color $blockBackground
  border-radius 7px
  margin 7px 7px
  .note-header
    height 4em
    display flex
    label
      margin auto 10px
      font-size 1.5em
      font-weight 700
  .note-body
    .note-list
      display flex
      min-height 4em
      justify-content space-between
      border-top 1px solid $mainBackground
      .left-side
        margin auto 10px
        .date
          display flex
          flex-direction row
          .notes-list-date
            color $headerColor
            font-size 0.8em
            font-weight 600
          .notes-list-reminder
            margin-left 5px
        .notes-list-desc
          font-size 1.3em
      .right-side
        margin auto 10px
    .edit-note
      margin 0 10px
      .description
        .description-input
          border none
          color $headerColor
          width 100%
      .reminder
        border-top 1px solid $mainBackground
        .reminder-text
          display flex
          margin-top 10px
          flex-direction row
          justify-content flex-end
        .reminder-time
          display flex
          flex-direction row
          margin-top 20px
          justify-content space-between
          .select-wrap
            width 60%
            #select-main
              .active
                border none
                border-bottom 1px solid $mainBackground
              .options
                border none
          .input-wrap
            display flex
            justify-content flex-end
            .ink
              width 40px
              color white
              display flex
              font-size 2em
              border-radius 100%
              background-color $headerColor
              span
                margin auto
            .count-input
              width 30%
              border none
              margin 0 10px
              font-size 2em
              text-align center
        .actions
          display flex
          justify-content flex-end
          padding 10px 0
          .save
            border none
            background-color $headerColor
            color white
            border-radius 100px
  .note-footer
      width 100%
      height 4em
      display flex
      justify-content space-between
      border-top 1px solid $mainBackground
      label
        color $headerColor
        font-size 0.8em
        font-weight 800
        margin auto 10px

  .hidden
    display none