@import "../../../../variables.css"
#notes
  background-color #fff
  border-radius 7px
  margin 7px 7px
  .note-header
    height 4em
    display flex
    label
      margin auto 10px
      font-size 1.5em
      font-weight 700
  .note-body
    overflow hidden
    overflow-y auto
    .note-list
      display flex
      min-height 4em
      justify-content space-between
      border-top 1px solid #dedeff
      .left-side
        margin auto 10px
        .date
          display flex
          flex-direction row
          .notes-list-date
            color var(--dark-color)
            font-size 0.8em
            font-weight 600
          .notes-list-reminder
            margin-left 5px
        .notes-list-desc
          font-size 1.3em
          // width 100px
      .right-side
        display flex
        margin auto 10px
    .edit-note
      border-top 1px solid #dedeff
      margin 0 10px
      margin-top 5%
      .description
        .description-input
          border none
          background #efefff
          color var(--dark-color)
          width 100%
      .reminder
        border-top 1px solid #dedeff
        .reminder-text
          display flex
          margin-top 10px
          flex-direction row
          justify-content flex-end
        .reminder-time
          display flex
          flex-direction row
          margin-top 20px
          justify-content space-between
          .select-wrap
            width 60%
            #select-main
              .active
                border none
                border-bottom 1px solid #dedeff
              .options
                border none
          .input-wrap
            display flex
            justify-content flex-end
            .ink
              width 40px
              height 40px
              color white
              display flex
              justify-content center
              font-size 2em
              align-items center
              border-radius 50%
              background-color var(--main-bgcolor)
              span
               margin-top 3px
            .count-input
              width 30%
              border none
              margin 0 10px
              font-size 2em
              text-align center
        .actions-note
          display flex
          justify-content space-between
          padding 10px 0
          .delete
            display flex
            justify-content center
            left 0px
            top 0px
            width 25px
            height 25px
            background inherit
            background-color rgba(255, 255, 255, 1)
            box-sizing border-box
            border-width 2px
            border-style solid
            border-color rgba(188, 188, 188, 1)
            border-radius 113px
            -moz-box-shadow none
            -webkit-box-shadow none
            box-shadow none
            color var(--main-color)
          .save
            border none
            padding-top 3px
            background-color var(--main-bgcolor)
            color white
            border-radius 100px
  .note-footer
      width 100%
      height 4em
      display flex
      justify-content space-between
      border-top 1px solid #dedeff
      label
        color var(--dark-color)
        font-size 0.8em
        font-weight 800
        margin auto 10px
  .edit-note
    border-top 1px solid #dedeff
    margin 0 10px
    margin-top 5%
    .description
      .description-input
        border none
        background #efefff
        color var(--dark-color)
        width 100%
    .reminder
      border-top 1px solid #dedeff
      .reminder-text
        display flex
        margin-top 10px
        flex-direction row
        justify-content flex-end
      .reminder-time
        display flex
        flex-direction row
        margin-top 20px
        justify-content space-between
        .select-wrap
          width 60%
          #select-main
            .active
              border none
              border-bottom 1px solid #dedeff
            .options
              border none
        .input-wrap
          display flex
          justify-content flex-end
          .ink
            width 40px
            height 40px
            color white
            display flex
            justify-content center
            font-size 2em
            align-items center
            border-radius 50%
            background-color var(--main-bgcolor)
            span
             margin-top 3px
          .count-input
            width 30%
            border none
            margin 0 10px
            font-size 2em
            text-align center
      .actions-note
        display flex
        justify-content space-between
        padding 10px 0
        .delete
          display flex
          justify-content center
          left 0px
          top 0px
          width 25px
          height 25px
          background inherit
          background-color rgba(255, 255, 255, 1)
          box-sizing border-box
          border-width 2px
          border-style solid
          border-color rgba(188, 188, 188, 1)
          border-radius 113px
          -moz-box-shadow none
          -webkit-box-shadow none
          box-shadow none
          color var(--main-color)
        .save
          border none
          padding-top: 3px
          background-color var(--main-bgcolor)
          color white
          border-radius 100px
  .hidden
    display none
