@import "../../variables.css"
#timeline
  overflow hidden
  width 100%
  background-color var(--secondaryColor)
  position relative
  height 100%
  .list
    // min-height 736px
    width 100%
    margin-bottom 8.4rem
    .separator-wrap
      margin 1rem 0
      box-shadow -1px 0px 14px 16px rgba(255,255,255,1)
      -webkit-box-shadow -1px 0px 14px 16px rgba(255,255,255,1)
      -moz-box-shadow -1px 0px 14px 16px rgba(255,255,255,1)
      background-color #fff
      .separator
        border-top 1px dashed var(--primaryColor)
        border-bottom 1px dashed var(--primaryColor)
        font-size 18px
        height 1.9rem
        line-height 1.9rem
        font-weight 900
        margin 0 auto
        text-align center
        .date_weekday
          color var(--primaryColor)
        .date_month
          margin 0 5px
          color var(--primaryBlackColor)
        .date_day
          color var(--primaryBlackColor)
    .spiner-wrap
      width 100%
      height 50px
      img
        margin 0 auto
        display block
        width 50px
        height 50px
  .buttons-wrap
    background-color var(--secondaryColor)
    width 100%
    position fixed
    bottom 0
    .main-img
      width 3.75rem
      height 3.75rem
    .mark
      height 1.2rem
      width 1.2rem
      position absolute
      top .2rem
      right .4rem
  .swiper-container
    margin 0
    width 100%
    margin .2rem 0 .9rem .6rem
    overflow hidden
    border-radius .5rem
    background-color #fff
    .swiper-wrapper
      width 100%
      margin-bottom 1rem 
      .swiper-slide
        width 5rem
        display flex
        flex-direction column
        align-items center
        position relative
        padding-top .7rem
        margin 0 .25rem 0
        border none
        text-align center
        span
          font-weight bold
          font-size 0.7rem
          padding 8px 0 6px
          color var(--primaryBlackColor)
.nVisible
  visibility hidden
