@import "../../../../variables.styl"
#sex
  .block
    display flex

    justify-content space-between
    .gender
      display flex
      cursor pointer
      flex-direction column
      justify-content space-around
    .label
      margin 1% 0 3%

  .block1
      display flex
      cursor pointer
      justify-content space-between
      padding-right 10px
    .radio
      display flex
      margin auto 0
      min-height 4em
      flex-direction row
      width 100%
      //border-top 1px solid $mainBackground
      justify-content space-between
      .radio-label
        margin auto 8%
      .circle
        margin auto 0
    .radio.checked
      .circle
        background-repeat no-repeat
  .block.change-state-disable
    display none
  .delete-gender
    cursor pointer
    display flex
  .block1:hover
    background #efefff
    box-shadow 0 0 8px 0 #deceff, 0 0 4px 0 rgba(0, 0, 0, 0)
