#partners
  border-bottom 1px solid silver
  background-color #fffbdf
  .partners-label
    width 100%
    margin 0
    padding-top 10px
    padding-right 25px
    text-align right
    color #6b6b6b
  .partners-wrap
    width 33.33%
    padding-top 10px
    padding-bottom 10px
    display inline-block
    .img
      width 100px
      margin 0 auto
      img
        width 100%
    h1
      width 95%
      text-align center
      color #304f63
    .amount
      color #00b6fb
      font-weight 600
      text-align center
