#partners
  border-bottom 1px solid grey
  background-color #fffbdf
  height 500px
  .partners-label
    width 100%
    margin 0
    padding-top 20px
    padding-right 30px
    text-align right
    color #6b6b6b
  .partners-wrap
    padding-top 30px
    display inline-block
    .img
      width 220px
      margin 0 auto
      img
        width 100%
    h1
      width 95%
      text-align center
      color #304f63
    .amount
      color #00b6fb
      font-weight 600
      text-align center
