@import "../../../../color.styl"
#events
  a
    text-decoration: none;
  background-color transparent
  .event-header
    margin 0 7px 3px 7px
    display flex
    background-color $blockBackground
    border-top-left-radius 8px
    border-top-right-radius 8px
    height 4em
    label
      margin auto 10px
      font-size 1.5em
      font-weight 700
  .event-footer
    margin 3px 7px 0 7px
    display flex
    background-color $blockBackground
    border-bottom-left-radius 8px
    border-bottom-right-radius 8px
    height 4em
    justify-content space-between
    label
      margin auto 10px
      font-size 0.8em
      color $headerColor
      font-weight 800


  #swiper-wrap-notes
    .swiper-container
      margin 0 7px 3px 7px
      .swiper-wrapper
        margin-left: -54px
        .swiper-slide
          padding 0 7px 0 0
          width auto
          .note
            background-color $blockBackground
            border-radius 4px
            width 17.6em
            min-height 9.1em
            .note-head
              padding 0 10px
              display flex
              flex-direction row
              min-height 3.5em
              border-bottom 1px solid $mainBackground
              span
                font-family: Roboto;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: 0.1px;
                text-align: left;
                color: #222222;
                margin auto 10px
            .block1
              padding-left: 2px
              width 60%
              margin auto 0
              float left
              display flex
              height 5.3em
              .dates
                margin auto
                span
                  font-family: Roboto;
                  font-size: 12px;
                  font-weight: 300;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.67;
                  letter-spacing: 0.2px;
                  text-align: left;
                  color: #222222;
                  // font-size 0.8em
                  margin auto 10px
            .block2
              width 40%
              font-size 2.1em
              float right
              display flex
              border-left 1px solid $mainBackground
              flex-direction column
              height 2.1em
              span
                margin auto
              span.min
                font-size 0.3em
                margin-top -2em
          .end-note
            background-color gainsboro!important
            color darkslategray
            .orange
              color orangered
      .swiper-pagination
        transform translateY(-133px)
        bottom auto
        .swiper-pagination-bullet
          width 11px
          height 11px
          margin 0 2px
        .swiper-pagination-bullet-active
          background #fc351f
