#events
  background-color #e8ffff
  height 150px
  border-bottom 1px solid silver
  .clock
    position relative
    z-index 20
    width 40px
    margin 5px 10px 0 10px
  .label
    margin-right 10px
    margin-left 10px
    margin-top 10px
    color #6b6b6b
    background-color #e8ffff
    border none
    &:focus
      outline none
  #swiper-wrap-notes
    .swiper-container
      position static
      width 100%
      .swiper-wrapper
        .swiper-slide:nth-of-type(1)
          width 22%!important
        .swiper-slide
          padding 0px 7px 0 7px
          width 39%!important
          .start-note
            background-color lightskyblue!important
            padding-top 10px!important
            font-size 18px
            text-align center
            color darkslategray
          .note
            background-color white
            border-radius 10px
            width 100%
            height 95px
            border 1px solid #bcbcbc
            box-shadow 1px 3px 6px #bcbcbc
            display inline-block
            padding 5px
            h1
              margin 0
            .date
              font-size 18px
              color dimgray
              line-height 17px
              height 34px
              width 100%
            .procedure
              font-size 18px
              line-height 17px
              height 34px
              width 100%
              color darkslategray
              overflow hidden
              text-overflow ellipsis
            .price
              font-size 18px
              color deepskyblue
              height 17px
              width 100%
          .end-note
            background-color gainsboro!important
            color darkslategray
            .orange
              color orangered
      .swiper-pagination
        transform translateY(-133px)
        bottom auto
        .swiper-pagination-bullet
          width 11px
          height 11px
          margin 0 2px
        .swiper-pagination-bullet-active
          background #fc351f
