#events
  background-color #e8ffff
  height 275px
  border-bottom 1px solid grey
  .clock
    width 80px
    margin 10px 0 0 20px
  .babel
    float right
    margin-right 30px
    margin-top 10px
    color #6b6b6b
    background-color #e8ffff
    border none
    font-size 42px
    &:focus
      outline none
  #swiper-wrap-notes
    .swiper-container
      position static
      margin-top 10px
      .swiper-wrapper
        .swiper-slide
          padding 0px 30px 30px 30px
          .start-note
            background-color lightskyblue!important
            padding-top 30px!important
            font-size 32px
            text-align center
            color darkslategray
          .note
            background-color white
            border-radius 20px
            width 100%
            height 160px
            border 1px solid #bcbcbc
            box-shadow 1px 3px 6px #bcbcbc
            display inline-block
            padding 20px
            h1
              margin 0
              font-size 32px
              color dimgray
            h1:nth-of-type(2)
              color darkslategray
            .col
              color deepskyblue
          .end-note
            background-color gainsboro!important
            font-size 32px
            color darkslategray
        // .swiper-slide:nth-of-type(1)
        //   width 23%!important
      .swiper-pagination
        transform translateY(-260px)
        bottom auto
        .swiper-pagination-bullet
          width 20px
          height 20px
        .swiper-pagination-bullet-active
          background #fc351f
