#details
  .data-wrap
    margin-left 20%
      &:focus
        outline none
    img.ok
      width 30px
      height 30px
      float right
  .hidden
    display none
  .details-button
    cursor pointer
