#email
  padding 0.3rem 0.6rem 0.3rem
  border-top 1px solid #dedeff
  min-height 3.5rem
  display flex
  .gmailwrap
    display flex
    justify-content space-between
    width 100%
  .linkto
    display flex
  .data-wrap
    display flex
    flex-direction column
    justify-content space-between
    flex-grow 1
    .email_text
      font-size 1rem
      line-height 1.2
    .gmailcom
      font-size 1rem
      width 100%
      cursor pointer
  .edit-input
    font-size 1rem
    border transparent
    outline none
  .del-info,
  .add-info
    display flex
    align-items center
    div
      width 1.5rem
      height 1.5rem
      border-radius 50%
      display flex
      align-items center
      justify-content center
      img 
        width 1rem
        height 1rem
  .del-info
    .del-wrap
      border 1px solid #deceff
      img
        transform rotate(45deg)
  .add-info
    .add-wrap
      background-color var(--active-color)