@import "../../../../color.styl"
#hot-links
  height 80px
  padding-top 10px
  .link
    margin 0 7px
    height 60px
    text-align center
    color purple
    font-size 16px
    display inline-flex
    justify-content center
    align-items center
    background $hotLinkBackground
    a
      text-decoration none
      color purple
  .circle
    width 60px
    border-radius 50%
  .square
    width 60px
    border-radius 18px
