#punch-card
  margin 0 auto 10px auto
  width 95%
  .order-in
    display inline-block
    float left
    font-size 20px
  .icon-wrap
    display inline-block
    padding 0 5px
    padding-top 4px
    height 20px
    float left
    width 30px
    img
      width 20px
      height 20px
  .text
    display inline-block
    text-overflow ellipsis
    line-height 25px
    overflow hidden
    margin-top 1px
    width 70%
