#social-network
  border-bottom 1px solid silver
  .soc-media-label
    margin 10px 0 5px 0
    padding 0 20px
    color #6b6b6b
    width 100%
    text-align end
  .social-item-wrap
    height 40px
    width 100%
    .delete-wrap
      width 12%
      display inline-block
      padding 0 10px
      .delete
        position relative
        transform rotate(45deg)
        width 30px
        top -2px
    .img-wrap
      display inline-block
      width 10%
      img
        width 33px
        height 33px
    .url-wrap
      width 72%
      display inline-block
      h1
        margin 0
        width 100%
        height 30px
        font-size 22px
        overflow hidden
        text-overflow ellipsis
        padding-left 10px
  .add-source-wrap
    height 60px
    cursor pointer
    img
      width 40px
      margin 10px 30px 0 30px
      display block
    h1
      margin 18px -10px
      color #6b6b6b
      display block
  .add-select-wrap
    padding-bottom 10px
    .button-wrap
      position relative
      width 100%
      height 30px
      display inline-block
      button
        height 30px
        border-radius 15px
        border 1px solid #6b6b6b
        background-color white
        width 80px
        font-size 22px
        margin 0 10px
        &:focus
          outline none
    .item-wrap
      width 100%
      height 60px
      .img-wrap
        display inline-block
        width 10%
        height 60px
        img
          position relative
          width 33px
          height 33px
          top -16px
      .input-wrap
        position relative
        width 50%
        height 60px
        display inline-block
        input
          float left
          position relative
          display inline-block
          width 100%
          height 30px
          border 1px solid #6b6b6b
          font-size 22px
          top 12px
          // border none
          color #00b6fb
          &:focus
            outline none
            text-align right
      .select-wrap
        padding-top 10px
        margin 0 10px
        width 34%
        height 60px
        display inline-block
        z-index 10
        position relative
        .Select
          width 100%
          height 30px
          .Select-control
            width 100%
            height 30px
            .Select-input
              position relative
              top -3px
              font-size 22px
            .Select-placeholder
              font-size 22px
            .Select-value-label
              position relative
              font-size 22px
            .Select-clear-zone
              display none
            .Select-arrow-zone
              width 40px
              padding-top 7px
              .Select-arrow
                border-width 11px 7px 2.5px
          .Select-menu-outer
            top 37px
            height 100%
            font-size 22px
            .Select-menu
              max-height 666px
              overflow-y auto
              background-color white
              .Select-option
                padding 3px 6px
  .hidden
    display none
.is-open
  .Select-control
    .Select-arrow
      border-width 0px 7px 11px!important
