#social-network
  border-bottom 1px solid grey
  .add-source-wrap
    height 120px
    img
      float right
      width 80px
      margin 20px 40px 0 20px
    h1
      float right
      margin 40px 20px 0 20px
      color #6b6b6b
  .add-select-wrap
    height 170px
    h1
      margin 10px 0 0 -30px
      color #6b6b6b
      width 100%
      text-align right
    .item-wrap
      width 100%
      height 100px
      .button-wrap
        position relative
        width 20%
        height 100px
        display inline-block
        top -30px
        button
          height 60px
          border-radius 30px
          border 2px solid #6b6b6b
          background-color white
          width 120px
          font-size 32px
          margin-left 30px
          &:focus
            outline none
      .input-wrap
        position relative
        width 50%
        height 100px
        display inline-block
        top -10px
        .img-wrap
          display inline-block
          width 20%
          height 100%
          img
            width 60px
            height 60px
            margin-left 40px
        input
          position relative
          display inline-block
          width 80%
          height 60px
          border 1px solid #6b6b6b
          top -25px
          font-size 36px
          &:focus
            outline none
            text-align right
      .select-wrap
        width 30%
        height 100px
        display inline-block
        padding-top 30px
        .Select
          width 250px
          height 60px
          float right
          margin-right 30px
          .Select-control
            float right
            width 250px
            height 60px
            .Select-input
              font-size 36px
            .Select-placeholder
              font-size 36px
              top 13px
            .Select-value-label
              position relative
              font-size 36px
              top 13px
            .Select-clear
              font-size 36px
            .Select-arrow-zone
              width 40px
              padding-top 5px
              .Select-arrow
                border-width 15px 10px 2.5px
          .Select-menu-outer
            height 100%
            font-size 36px
            .Select-menu
              background-color white
              max-height 666px
              overflow-y auto
  .hidden
    display none
.is-open
  .Select-control
    .Select-arrow
      border-width 0px 10px 15px!important
