#punch_cards
  .swiper
    background-color whitesmoke
    padding-bottom 10px
    .punch-label-wrap
      width 100%
      height 30px
      padding-top 10px
      .punch-label
        padding 0px 20px
        height 20px
        border-radius 10px
        background-color #e8ffff
        margin 5px 10px 0 10px
        text-align center
        font-size 14px
        color #6b6b6b
        span
          color deepskyblue
    #swiper-wrap-punch
      padding-top 24px
      .swiper-container
        position static
        width 100%
        .swiper-wrapper
          .swiper-slide
            padding 0px 5px
            width 35%!important
            .punch
              background-color white
              width 100%
              height 100px
              border 1px solid #bcbcbc
              box-shadow 1px 3px 6px #bcbcbc
              display inline-block
              padding 5px
              .name
                width 100%
                text-align center
                padding-bottom 12px
                color slategray
                text-decoration underline
                font-size 20px
              .count
                width 100%
                text-align center
                padding-bottom 12px
                span
                  color deepskyblue
              .date-wrap
                width 100%
                .date
                  display inline-block
                  font-size 14px
                  color darkgray
                .sum
                  display inline-block
                  color deepskyblue
                  padding-top 1px
                  font-size 18px
                  float right
        .swiper-pagination
          transform translateY(-140px)
          bottom auto
          .swiper-pagination-bullet
            width 11px
            height 11px
            margin 0 2px
          .swiper-pagination-bullet-active
            background #fc351f
  .single-punch
    background-color gainsboro
    position relative
    border-top 1px solid gray
    .triangle-down-wrap
      position absolute
      margin 0 auto
      left 50%
      margin-left -20px
      .triangle-down
      	width 0
      	height 0
      	border-left 20px solid transparent
      	border-right 20px solid transparent
      	border-top 20px solid gray
  .punch-data
    box-shadow 1px 3px 6px #bcbcbc
    margin 30px auto 0 auto
    background-color white
    border-radius 15px
    height 300px
    width 90%
