@import "../../variables.css"
#punch_cards_old
  width 100%
  height 100%
  .swiper
    max-height 70vh
    overflow-y auto
  .btn-wrap
    display flex
    align-items center
    padding .5rem .7rem
    background-color var(--primaryColor)
    .ban
      opacity .5
    .btn
      width 2rem
      margin-right 88px
      height 2rem
      display flex
      justify-content center
      align-items center
      img
        width 2rem
        height 2rem
    .middle-section
      text-align center
      color #fff
      .middle-type
        font-size 1.2rem
      .middle-date
        font-size 1rem 
  .highlights
    display flex
    justify-content center
    align-items center
    height 4rem
    position relative
    h2
      font-size 1.5rem
      color var(--primaryColor)
      margin 0
      padding-right 1.5rem
    .barber
      position absolute
      right 1.5rem
    .fill-color
      display block
      height 2rem
      width 2rem
  .main-title
    font-size 1rem
    padding .25rem 0
    color var(--primaryColor)
  .value
    padding-left .4rem
    color var(--primaryBlackColor)
  .main
    margin 0 .5rem .5rem
    border-radius .5rem
    background-color #fff
    padding 1.5rem 1.1rem 1rem
    box-shadow: 0 2px 4px 0 #bfafe0;
    .brand
      padding-left
    .colors
      .colors-item
        padding .4rem 0
        display flex
        align-items center
        img
          display block
          width 1.2rem
          height 1.2rem
          margin-bottom .3rem
      .colors-info
        padding-left .4rem
        display flex
        justify-content space-between
        width 70%
      .color-comments
        padding 0 0 0 1.6rem
  .oxy
    margin 0 .5rem .5rem
    border-radius .5rem
    background-color #fff
    box-shadow: 0 2px 4px 0 #bfafe0;
    .oxy-header
      display flex
      padding 1rem 0 .7rem
      justify-content center
      align-items center
      img
        display block
        width 1.5rem
        height 1.5rem
        margin-right .5rem
      h2
        margin 0
        padding-right 2rem
        font-weight bold
        color var(--primaryColor)
    .oxy-body
      padding 0 0 2.2rem 1.2rem
    .oxy-item
      display flex
      img
        display block
        width 1.25rem
        height 1.25rem
      .concentration
        display flex
        justify-content space-between
        width 70%
  .common
    padding .5rem 0 1.5rem 1.5rem
    .common-item
      display flex
      max-width 80%
      margin 1.3rem 0 0
      .common-img
        margin-right 0.7rem
  .buttons-bot
    margin 0 0.5rem 0.5rem
    background-color #fff
    height 60px
    display flex
    box-shadow 0 2px 4px 0 #bfafe0
    .buttons-bot-wrap, .buttons-bot-wrap
      width 50%
      text-transform uppercase
      display flex
      align-items center
      justify-content center
      color var(--primaryColor)
      font-weight: 600;
      .btn-bot-img
        justify-content center
        display flex
        width 40px
        padding-right 10px
  .buttons-bot-wrap:last-child
    border-left 1px solid #bfafe0
    