@import "../../../../color.styl"
#birthday-wrap
  bottom 10%
  position absolute
  display flex
  flex-direction row
  z-index 2
  h1
    color $black
    //line-height unset
    font-size 0.7em
    padding-top 20%
#birthday-wrap-disabled
  display none
.birthday-wrap-right
  right 5%
.birthday-wrap-left
  left 5%
