// @import "../../../../variables.css"
#birthday-wrap
  display flex
  flex-direction row
  padding-inline-start 10px
  -webkit-padding-start 10px
  -moz-padding-start 10px
  h1
    color var(--main-color)
    font-size 0.7em
  .birth-wrap
    display flex  
    align-items center
#birthday-wrap-disabled
  display none
.birthday-wrap-right
  right 2%
.birthday-wrap-left
  left 2%
