#hidden-fields
  .main-button
    width 100%
    height 100px
    padding-top 10px
    button
      width 70%
      height 80px
      background-color purple
      color white
      border none
      border-radius 10px
      margin 0 auto
      display block
