#share
  position relative
  .share
    object-fit cover
    height 45px
    width 45px
  .icon-default
    position absolute
    visibility hidden
    opacity 0
    object-fit cover
    height 45px
    width 45px
    transform translateX(0%)
    transition 0.2s ease-in-out
    border-radius 50%
  .isVisible
    visibility visible
    opacity 1
    transition 0.2s ease-in-out
  .facebook
    transform translateX(-305%)
    height 43px
    width 43px
  .twitter
    transform translateX(-440%)

  body[style="direction: rtl;"] & {
		.facebook {
      transform translateX(305%)
    }
    .twitter {
      transform translateX(440%)
    }
}
